*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
}
section{
    padding: 10rem 0;
    background-color: #fff;
}

.heading{
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: 3px;
    margin-right: -3px;
    margin-bottom: 5rem;
    text-align: center;
    color: #333;
    position: relative;
}


.card-wrapper{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.card{
    width: 32rem;
    background-color: #ebeef8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.3);
    border-radius: 3%;
    overflow: hidden;
}

.card .card-img{
    width: 100%;
    height: 15rem;
    object-fit: cover;
    background: linear-gradient(to top left, rgba(166,74,201,0.5), rgba(166,74,201,1)) ;
    /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%); */
}

.profile-img{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -11rem;
    z-index: 999;
    border: 1rem solid #ebeef8;
    transition: .5s;
}

.profile-img:hover{
    transform: scale(1.2);
}

.card h1{
    font-size: 2.5rem;
    color: #333;
    margin: 1.5rem 0;
}

.job-title{
    color: #777;
    font-size: 1.5rem;
    font-weight: 300;
}

.about-card{
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-style: italic;
    text-align: center;
    color: #333;
}

.card .btn{
    padding: 1rem 2.5rem;
    background-color: #a64ac9;
    border-radius: 2rem;
    margin: 1rem 0;
    text-transform: uppercase;
    color: #eee;
    font-size: 1.4rem;
    transition: all .5s;
}

.card .btn:hover{
    transform: translateY(-2px);
    box-shadow: 0 1rem 1rem rgba(166,74,201,0.4);

}

.card .btn:active{
    transform: translateY(0);
    box-shadow: none;
}

.socmed{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    margin-top: 1.5rem;
    border-top: 1px solid rgba(0,0,0,0.1);

}

.socmed i{
    font-size: 3rem;
    transition: all .3s;
}

.fa-facebook-square{
    color: #3b5999;
}

.fa-github-square{
    color: black;

}

.fa-instagram{
    color: #e6683c;

}

.fa-facebook-square:hover,
.fa-github-square:hover,
.fa-instagram:hover{
    color: rgba(166,74,201,1);
    transform: scale(1.3);
}

@media (min-width: 700px){
    .card-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    .card{
        margin: 2rem;
    }
}
