*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
}
section{
    padding: 10rem 0;
    background-color: #fff;
}

.heading{
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: 3px;
    margin-right: -3px;
    margin-bottom: 5rem;
    text-align: center;
    color: #333;
    position: relative;
}
/* 
.heading::after{
    content: "";
    width: 10rem;
    height: 0.8rem;
    background-color: #17e9e0;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
} */

.card-wrapper{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.card{
    width: 32rem;
    background-color: #ebeef8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.3);
    border-radius: 3%;
    overflow: hidden;
}

.card .card-img{
    width: 100%;
    height: 15rem;
    object-fit: cover;
    background: linear-gradient(to top left, rgba(166,74,201,0.5), rgba(166,74,201,1)) ;
    /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%); */
}

.profile-img{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -11rem;
    z-index: 999;
    border: 1rem solid #ebeef8;
    transition: .5s;
}

.profile-img:hover{
    transform: scale(1.2);
}

.card h1{
    font-size: 2.5rem;
    color: #333;
    margin: 1.5rem 0;
}

.job-title{
    color: #777;
    font-size: 1.5rem;
    font-weight: 300;
}

.about-card{
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-style: italic;
    text-align: center;
    color: #333;
}

.card .btn{
    padding: 1rem 2.5rem;
    background-color: #a64ac9;
    border-radius: 2rem;
    margin: 1rem 0;
    text-transform: uppercase;
    color: #eee;
    font-size: 1.4rem;
    transition: all .5s;
}

.card .btn:hover{
    transform: translateY(-2px);
    box-shadow: 0 1rem 1rem rgba(166,74,201,0.4);

}

.card .btn:active{
    transform: translateY(0);
    box-shadow: none;
}

.socmed{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    margin-top: 1.5rem;
    border-top: 1px solid rgba(0,0,0,0.1);

}

.socmed i{
    font-size: 3rem;
    transition: all .3s;
}

.socmed .fa-facebook-square{
    color: #3b5999;
}

.socmed .fa-github-square{
    color: black;

}

.socmed .fa-instagram{
    color: #e6683c;

}

.fa-facebook-square:hover,
.fa-github-square:hover,
.fa-instagram:hover{
    color: rgba(166,74,201,1);
    transform: scale(1.3);
}

@media (min-width: 360px){
    .card-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    .card{
        margin: 2rem .5rem;
    }
}

@media (min-width: 1000px){
    .card-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    .card{
        margin: 2rem;
    }
}


/* FOOTER by BAYU */
.header {
    height: 90px;
}
.main {
    height: 600px;
}
.footer {
    height: 250px;
    background-color: #fccd04;
    color: black;
    width: 100%;
}

.footer-logo {
    font-size: 32px;
    float:left;
    padding-top: 80px;
    padding-left: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
}
.footer-logo p {
    font-size: 12px;
    color: black;
    text-align: center;
    padding-top: 10px;
}

.footer-section {
    font-size: 15px;
    text-align: center;
}
.footer li {
    list-style: none;
    line-height: 25px;
}
.footer-section1 li {
    cursor: pointer;
    padding-top: 10px
}
.footer-section2 li {
    cursor: pointer;
    padding-top: 10px
}
.footer-section3 li {
    cursor: pointer;
    padding-top: 10px
}
.footer-section1 li:active {
    background-color: white;
    opacity: 0.5;
    border-radius: 20px;
}
.footer-section2 li:active {
    background-color: white;
    opacity: 0.5;
    border-radius: 20px;
}
.footer-section3 li:active {
    background-color: white;
    opacity: 0.5;
    border-radius: 20px;
}
.footer-section1 {
    float: left;
    padding-top: 20px;
}
.footer-section2 {
    float: left;
    padding-left: 20px;
    padding-top: 20px;
}
.footer-section3 {
    float: left;
    
    padding-top: 20px;
}
.flex-list {
    display: flex;
    width: 100%;
    background-color: #fccd04;
}
.flex-list li {
    flex: auto;
}
@media (max-width: 1000px) {
    .flex-list {
        flex-wrap: wrap;
    }
    .flex-list li {
        width: 50%;
    }
}
@media (max-width: 675px) {
    .flex-list {
        flex-direction: column;
    }
    .flex-list li {
        margin: 0 auto;
    }
}

.footer .fa{
    margin-right: 5px;
}
